## Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

## Virtual environments
.venv/
venv/
ENV/
env/

## Jupyter
.ipynb_checkpoints/

## macOS
.DS_Store

## IDE
.vscode/

## Outputs
FGC_Final_Placements_Results.xlsx

